{% extends 'base.html' %}
{% block content %}
{% include 'create.html' %}
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">URL</th>
        <th scope="col">Status</th>
        <th scope="col">Category</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for task in task_list %}
    <tr>
        <th scope="row">{{task.id}}</th>
        <td>{{task.url}}</td>
        <td>{{task.get_status_display}}</td>
        <td>{{task.category}}</td>
        <td>

            <button type="button" class="btn btn-outline-dark">
                <a href="{% url 'task_id' task.id %}" style="text-decoration:none;">
                    Detail
                </a>
            </button>
            {% if task.package %}
            <button type="button" class="btn btn-outline-danger">
                <a href="{% url 'add_to_queue' task.id %}" style="text-decoration:none;">
                    Check
                </a>
            </button>
            {% endif %}

        </td>
    </tr>
    {%endfor%}

    </tbody>
</table>

{%endblock content%}
